body {
    margin: 0;
    background-color: rgb(40,40,40);
    overflow:hidden;

}
.container {
    width: 100vw;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.piano-container {
    width: 60vw;
    height: 60vh;
    border: 2px solid black;

    display:flex;
    align-items: center;
    flex-direction: column;
}
.piano-keys {
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: center;
    position: relative;
}
.keys {
    width: 10%;
    margin: 0.16rem;
    margin-top: 0;
    cursor: pointer;
    position: relative;
    height: 100%;
    
    border-radius: 10px;
    border: 3px solid #000;
}
.reg-keys {
    background-color: white;
}
.black-keys {
    width: 5rem;
    height: 18rem;

    /* Adds roundness but not at top */
    border-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    background-color: #000;
    z-index: 2;
    
    margin: 0 -40px 0 -40px;
}

.big-font {
    font-size: 10vh;
    color: white;
}